/*
Fit AI
Created by: Business Website Builders
Author URI: http://www.businesswebsite.builders
*/

/*****************
Variables
*****************/
$font-size: 16px;
$primary-color: #000;
$red: #FF2C00;
$yellow: #FFB600;
$white: #FFF;
$blue: #00aeef;
$blue2: #00a6dd;
$blue-dark: #0081b1;
$form-border: 1px solid rgb(169, 169, 169);

/*****************
Mixins
*****************/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin font-size($size) {
		font-size: $size;
		font-size: $size/$font-size;

}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

/*****************
Universal
*****************/

a {	
	color: $blue; 
	text-decoration: none;
	transition: all 0.5s;

	&:hover {
		color: $blue-dark;
	}
}
body {
	color: $primary-color;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
button {
	min-height: 40px;
	padding: 20px;
	@include font-size(20px);
	text-transform: capitalize;
	font-variant: small-caps;
	margin: 15px;
}
.center {
	text-align: center;
}
.clearfix {	
	&:before, 
	&:after { 
		content: ""; 
		display: table; 
	}
	&:after { 
		clear: both; 
	}
}
#dynamic-content {
	position: relative;
}
.flexbox {
	display: flex;
}
header {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 5px 0;	
	text-align: center;
}
#logo {
	width: 200px;
}
#main {
	display: flex;
	flex-direction: column;
	margin-left: calc(20% - 60px);
	min-height: 100vh;
	padding: 0 20px;
}
#nav-menu {
	width: calc(20% - 60px);
	min-width: 200px;
	min-height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background: linear-gradient(to top, rgba(37,34,29,1), rgba(72,183,226,1));

	.container {
		min-height: calc(100vh - 60px);
		margin: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	a {	
		color:#FFF; 
		text-decoration:none;
		transition: all 0.5s;
		text-transform: uppercase;
	}
	a:hover {
		color: #00a6dd;
	}
}
.nav-items {
	& > div {
		margin: 25px 0;
	}
	div i {
		padding-right: 20px;
		color: #a8c9d7;
		@include font-size(25px);
		position: relative;
		bottom: -5px;
	}
	div span {
		line-height: 25px;
	}
}
.nav-footer {
	border-top: 1px solid #7b7b7b;
	margin-top: 20px;
	padding-top: 20px;
	color: #7b7b7b;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #e8e8e8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #e8e8e8;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #e8e8e8;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #e8e8e8;
}
.overlay {
	position: fixed;
	z-index: 1000000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.85);
	display: flex;
	align-items: center;
	justify-content: center;
	
	.content {
		background-color: #fff;
		padding: 20px;
	}
}

/* Forms */
input {
	width: 230px;
	height: 30px;
	@include border-radius(10px);
	padding: 10px;
	color: $primary-color;
	border: $form-border;
	
	&[type=submit] {
		background-color: #00a6dd;
		color: #fff;
		text-align: center;
		width: 100%;
		height: 60px;
		margin-top: 20px;
		padding: 10px 50px;
		cursor: pointer;
		transition: background-color 0.5s;
	}
	&[type=submit]:hover {
		background-color: #00c0ff;
	}
	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder,
	&:-moz-placeholder {
		color: #fff;
	}
	&:focus {
		outline: none;
	}
}
select {
	width: 250px;
	height: 50px;
	padding: 0 10px;
	@include border-radius(10px);
	border: $form-border;
	
	&:focus {
		outline: none;
	}
}
label {
	width: 100px;
}

@media (max-width:1300px) {
	#main {
		margin-left: 200px;
	}
}
@media (max-width:600px) {
	#main {
		margin-left: 0;
	}
	#nav-menu {
		display: none;
	}
}
@media (max-height:410px) {
	#nav-menu {
		position: absolute;
	}
}

/*****************
Login
*****************/
.body-login {
	#main {
		margin: 0;
		padding: 0;
	}
	header {
		display: none;
	}
}
#login {
	background: linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(2,117,156,0.75)), url('/images/login-bg.jpg') center 0 no-repeat;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.login-logo {
	margin-bottom: 80px;

	img {
		width: 250px;
	}
}
.form-error {
	color: $red;
	margin-bottom: 15px;
}
#login {
	form {
		text-align: center;
		color: #fff;
	}
	input {
		@extend input;
		height: 40px;
		@include border-radius(50px);
		padding: 10px 50px 10px 70px;
		color: #FFF;
		background-color: rgba(255, 255, 255, 0.10);
		border: none;
		@include font-size(14px);
	}
}
.form-field {
	position: relative;
	margin-bottom: 15px;

	i {
		position: absolute;
		@include font-size(24px);
		line-height:60px;
		left: 25px;
		margin-top: 4px;
	}
}
.login-help {
	text-align: right;

	a {
		color: #80abba;
		@include font-size(12px);
	}
}


/*****************
Now
*****************/
.chart {
	margin: 0 10px;
	text-align: center;
}
#chart_column {
	display: flex;
	height: 400px;
	justify-content: center;
	max-width: 400px;
	width: 100%;
}
.charts-container {
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: nowrap;
	justify-content: center;
}
#connect_string {
	display: none;
}
/* .reps {
	position: fixed;
    top: 80px;
    right: 20px;
    padding: 10px;
    border: 1px solid #00aeef;
    background-color: rgb(0, 174, 239);
    box-shadow: 0 0 5px #efefef;
    color: #fff;
    text-shadow: 1px 1px 1px #737373;
    font-size: 20px;
} */
.data-container {
	color: #bbb;
	@include font-size(16px);
	justify-content: center;
	margin-top: -20px;

	.tab {
		padding: 0 20px 10px;
		position: relative;
	}	
}
.tab:before {
	content: "";
	position: absolute;
	top: 0; 
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-color: #000;
	box-shadow: 5px 5px 10px #9e9e9e;
	transform: perspective(10px) rotateX(-2deg);
	transform-origin: top;
	border-width: 0 3px 3px;
    border-color: rgba(156, 156, 156, 0.34);
    border-style: solid;
}
.count-number {
	color: #fff;
	@include font-size(50px);
}
.lift-check {
	
}
.reset-reps {
	position: fixed;
	top: 10px;
	right: 10px;
	@include border-radius(20px);
	background-color: $blue;
	color: $white;
	border: 1px solid #ccc;
	padding: 10px;
	cursor: pointer;
	@include box-shadow(0, 0, 10px, rgba(255,255,255,0.3), true);
	
	&:hover {
		background-color: $blue2;
	}
}
@media (max-width: 1024px) {
	.charts-container {
		align-items: center;
	} 
}
@media (max-width: 768px) {
	.charts-container {
		flex-direction: column;
		justify-content: flex-start
	} 
}
